body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: cadetblue;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-columns: 100px 300px 1fr; */
}

.item {
    background-color: lightblue;
    border: thin solid black;
}