body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

header {
    background-color: antiquewhite;
    padding: 25px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: cursive;
}

nav a {
    display: block;
    padding: 10px;
    background-color: bisque;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
}

nav a:hover {
    background-color: aliceblue;
}

.definition {
    max-width: 600px;
    margin: 10px auto;
    border: thin solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: aliceblue;
}

.journey {
    font-family: cursive;
}

#eyepicture {
    width: 300px;
    border: thin solid black;
    float: left;
}

#watermelonpicture {
    width: 300px;
    border: thin solid black;
    float: right;
}

#eunbipicture {
    width: 300px;
    border: thin solid black;
    float: left;
}
.clear {
    clear: both;
}

.text {
    padding: 10px;
}

.sketch {
    /* margin: auto; */
    border: thin solid black;
}

.giraffe {
    height: 381px;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
}


table {
    max-width: 80%;
    margin: auto;
}

thead th {
    background-color: burlywood;
    padding: 10px;
    font-size: larger;
}

tbody tr td {
    background-color: antiquewhite;
}

.drawingstyles {
    margin: 20px auto;
}

.paintingmedium {
    margin: 20px auto;
}


caption {
    caption-side: bottom;
}

.tabledef {
    border: thick solid rgb(159, 113, 54);
    border-radius: 10px;
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(202, 148, 78);
}

@media only screen and (max-width:600px) {
    header {
        font-size: 14pt;
        padding: 5px;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        border: thin solid beige;
        padding: 8px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .sketch {
        margin: auto;
        border: thin solid black;
    }

    .samplepic {
        margin: auto;
    }

    .vertical {
        display: flex;
        flex-direction: column;
    }


}